.btn {
    display: flex;
    align-items: center;
    height: 56px;
    border: 2px solid #fff;
    border-radius: 70px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 0 24px;
    gap: 8px;
    &--blue {
        color: var(--color-blue);
        border-color: var(--color-blue);
        svg {
            --color-plus: var(--color-blue);
        }
    } 
}
