.contacts {
	margin-bottom: 0;
	#map {
		position: relative;
		width: 100%;
		height: 632px;
		@media(max-width: 767px) {
			height: 512px;
		}
	}
}

.contacts__label {
	color: #fff;
	padding: 24px;
	background-color: var(--color-blue);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	border-radius: 16px;
	max-width: 282px;
	position: absolute;
	top: 40px;
	z-index: 10;
	p {
		margin: 0;
	}
	@media(max-width: 767px) {
		max-width: 272px;
	}
}

.contacts__label-name {
	font-size: 40px;
	font-weight: 500;
}