section {
    margin: 80px 0;
    @media (max-width: 1023px) {
        margin: 64px 0;
    }
}

.section__head {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .section__title {
        margin-bottom: 0;
    }
    @media (max-width: 1439px) {
        margin-bottom: 40px;
    }
    @media (max-width: 767px) {
        margin-bottom: 24px;
    }
}
