:root {
    --color-base: #220500;
    --color-add: #662015;
    --color-blue: #007da5;
    --color-burger: #007da5;
    --color-plus: #fff;
}

$fontBase: "Alumni Sans", "sans-serif";
$fontAdd: "Oranienbaum", "sans-serif";

.m_auto {
    margin: auto;
}