section.contacts
	.container 
		h2.section__title Контакты
	#map 
		.container
			.contacts__label 
				h3.contacts__label-name Адрес:
				p Россия, Московская область, Луховицкий район, село Городна.
				button.btn Узнать маршрут
					svg(width="24" height="24")
						use(xlink:href="#icn-plus")
		<iframe src="https://yandex.ru/map-widget/v1/?ll=38.814435%2C54.963269&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzA1NzY4MBJ60KDQvtGB0YHQuNGPLCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0LPQvtGA0L7QtNGB0LrQvtC5INC-0LrRgNGD0LMg0JvRg9GF0L7QstC40YbRiywg0YHQtdC70L4g0JPQvtGA0L7QtNC90LAiCg3QOxtCFaPSW0I%2C&z=14.36" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>