header.header.scrollto
	.container 
		.header__wrap 
			a(href="index.html") 
				img.logo(src=require('../../images/Logo-istochik 2.svg'), alt='') 
			nav.nav-menu.nav-menu--header
				a(href="index.html") Главная
				a(href="about.html") О источнике
				a(href="gallery.html") Галерея
				a(href="contacts.html") Контакты
			button.burger 
				svg(width="40" height="40")
					use(xlink:href="#icn-burger")