section.info-block
	.container 
		.section__head
			h2.section__title Территория святого источника
			p.section__subtitle Территория святого источника хорошо и красиво благоустроена в 2003 году. Несколько родниковых ручьев стекаются по небольшим желобкам в деревянную купель. Возле святого места все хорошо организовано, можно приобрести емкости для воды.
		.info-block__wrap 
			.info-block__col 
				p Святой источник – это место особой духовной силы и благодати, которое считается местом источения чистой и целебной воды. В религиозной традиции Святой источник имеет особое значение и сопровождается разными легендами и святыми историями.
				p Верование в целебную силу Святого источника существует с древних времен. В разных культурах и религиях есть свои святые источники, которые считаются особыми местами, где происходят чудеса и исцеляющие явления. Люди приходят к Святому источнику, чтобы получить исцеление, обрести благодать или просить о помощи у святого. Они верят, что вода этого источника обладает особой силой и способна принести им мир, здоровье и духовное просветление.
			.info-block__col 
				p Святой источник – это место особой духовной силы и благодати, которое считается местом источения чистой и целебной воды. В религиозной традиции Святой источник имеет особое значение и сопровождается разными легендами и святыми историями.
				p Верование в целебную силу Святого источника существует с древних времен. В разных культурах и религиях есть свои святые источники, которые считаются особыми местами, где происходят чудеса и исцеляющие явления. Люди приходят к Святому источнику, чтобы получить исцеление, обрести благодать или просить о помощи у святого. Они верят, что вода этого источника обладает особой силой и способна принести им мир, здоровье и духовное просветление.