@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-MediumItalic.woff2') format('woff2'),
        url('AlumniSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-BlackItalic.woff2') format('woff2'),
        url('AlumniSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-Bold.woff2') format('woff2'),
        url('AlumniSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-BoldItalic.woff2') format('woff2'),
        url('AlumniSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-ExtraBold.woff2') format('woff2'),
        url('AlumniSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-ExtraLightItalic.woff2') format('woff2'),
        url('AlumniSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-Italic.woff2') format('woff2'),
        url('AlumniSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-Light.woff2') format('woff2'),
        url('AlumniSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-ExtraLight.woff2') format('woff2'),
        url('AlumniSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-Black.woff2') format('woff2'),
        url('AlumniSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-LightItalic.woff2') format('woff2'),
        url('AlumniSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-ExtraBoldItalic.woff2') format('woff2'),
        url('AlumniSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-Medium.woff2') format('woff2'),
        url('AlumniSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-Regular.woff2') format('woff2'),
        url('AlumniSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-Thin.woff2') format('woff2'),
        url('AlumniSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-SemiBold.woff2') format('woff2'),
        url('AlumniSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-SemiBoldItalic.woff2') format('woff2'),
        url('AlumniSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alumni Sans';
    src: url('AlumniSans-ThinItalic.woff2') format('woff2'),
        url('AlumniSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Oranienbaum';
    src: url('Oranienbaum-Regular.woff2') format('woff2'),
        url('Oranienbaum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

