extends layout
block main 
	main
		.container
			.breadcrumbs
				a(href="index.html") Главная
				span Об источнике 
		section.about 
			.container
				.section__head 
					h2.section__title  Святой с царских времён
					p.section__subtitle Народная молва о святости места не стихает с царских времен, тогда он назывался Иисус Христов, после времен безбожия освящен в честь Николая Чудотворца.
				.about__wrap 
					img.about__pic(src=require('../images/Rectangle 40.jpg'), alt='')

		section.info-block
			.container 
				.section__head
					h2.section__title Территория святого источника
				.info-block__wrap 
					.info-block__col 
						p Святой источник – это место особой духовной силы и благодати, которое считается местом источения чистой и целебной воды. В религиозной традиции Святой источник имеет особое значение и сопровождается разными легендами и святыми историями.
						p Верование в целебную силу Святого источника существует с древних времен. В разных культурах и религиях есть свои святые источники, которые считаются особыми местами, где происходят чудеса и исцеляющие явления. Люди приходят к Святому источнику, чтобы получить исцеление, обрести благодать или просить о помощи у святого. Они верят, что вода этого источника обладает особой силой и способна принести им мир, здоровье и духовное просветление.
					.info-block__col 
						p Святой источник – это место особой духовной силы и благодати, которое считается местом источения чистой и целебной воды. В религиозной традиции Святой источник имеет особое значение и сопровождается разными легендами и святыми историями.
						p Верование в целебную силу Святого источника существует с древних времен. В разных культурах и религиях есть свои святые источники, которые считаются особыми местами, где происходят чудеса и исцеляющие явления. Люди приходят к Святому источнику, чтобы получить исцеление, обрести благодать или просить о помощи у святого. Они верят, что вода этого источника обладает особой силой и способна принести им мир, здоровье и духовное просветление.


		include modules/contacts
