extends layout
block main 
	main

		.container 
			.breadcrumbs 
				a(href="index.html") Главная
				span Контакты 


		section.block-pic 
			.container 
				h2.section__title Россия, Московская область,<br> Луховицкий район, село Городна.
				.block-pic__wrap 
					img(src=require('../images/Rectangle 40.jpg'), alt='')


		section.location 
			.container 
				.section__head 
					h2.section__title Как добраться до источника
					p.section__subtitle Родник расположен на лесистом склоне берега реки Осетр, в 300 м западнее села<br> Городна городского округа Луховицы Московской области.
				.location__wrap 
					.location__content 
						.location__item.location__item--mode 
							p Oбщественным транспортом из Москвы от метро «Выхино» автобусом № 318 (Луховицы), далее автобусом № 28 или с Казанского вокзала до станции Луховицы (135 км), далее автобусом № 28 (20 км); личным транспортом село Городна находится в 14 км западнее города Луховицы, из Москвы выезжаем по Новорязанскому шоссе, расстояние от МКАД 136 км, от г. Луховицы через с. Матыра подъезжаем к с. Городна, минуем его южную часть. У памятника воинам, погибшим в Великую Отечественную войну 1941-1945 гг., поворачиваем влево и двигаемся вниз 1,2 км вдоль дачных домов, где будет указатель «Святой источник - 800 м» и далее до родника.
						.location__item.location__item--mode 
							p Oбщественным транспортом из Москвы от метро «Выхино» автобусом № 318 (Луховицы), далее автобусом № 28 или с Казанского вокзала до станции Луховицы (135 км), далее автобусом № 28 (20 км); личным транспортом село Городна находится в 14 км западнее города Луховицы, из Москвы выезжаем по Новорязанскому шоссе, расстояние от МКАД 136 км, от г. Луховицы через с. Матыра подъезжаем к с. Городна, минуем его южную часть. У памятника воинам, погибшим в Великую Отечественную войну 1941-1945 гг., поворачиваем влево и двигаемся вниз 1,2 км вдоль дачных домов, где будет указатель «Святой источник - 800 м» и далее до родника.
					.location__map 
						img(src=require('../images/map.png'), alt='')



		include modules/contacts
